# Virtual Environments
venv
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
media/
staticfiles/

# Node
node_modules/
dist/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store